.container{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 80vh;
    width: 400px;
  
}
.notFound{
    align-items: center;
    margin: auto;

}
h5{
    font-size:xx-large;
    font-weight: bolder;
    font-family: Arial,sans-serif;
    padding-bottom: 5px;
}
hr{
    color: blue;
    
}

.back{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

