
<div class="login d-flex justify-content-center">
    <div class="form m-auto" style="width: 40rem;">
     <h1 class="loginHeader">Login</h1>
     <form  method="post" enctype="application/x-www-form-urlencoded">
         <div class="row my-3">
             <div class="col-lg-12 ">
                
                 <input type="text" class="form-control " name="email" id="email" placeholder="eg: user@email.com">
             </div>
         </div>
         <div class="row my-3">
             <div class="col-lg-12 ">
              
                 <input type="password" class="form-control" name="password" id="password" placeholder="Password">
             </div>
         </div>
         <div class="row">
             <div class="col-lg-12 ">
               <button type="submit" class="form-control btn btn-primary" name="login" id="login">Login</button>
             </div>
         </div>
         
             

     </form>

    </div>
    
 </div>
